@import url("https://fonts.googleapis.com/css2?family=Plus+Jakarta+Sans:ital,wght@0,200..800;1,200..800&display=swap");
@import "tailwindcss";

@theme {
  --color-primary-green: #268d62;
  --color-primary-light-green: #ebfffb;
  --color-dark-green: #123139;
  --color-light-gray: #f3f3f3;
  --color-grey-tag: #f2f2f2;
  --color-dark-gray: #767676;
  --color-main-black: #010101;

  --color-success: #52c41a;
  --color-pending: #faad14;
  --color-in-review: #1677ff;
  --color-error: #ff4d4f;

  --font-sans: "Plus Jakarta Sans", sans-serif;

  --radius-sm: 0.25rem;
  --radius-md: 0.375rem;
  --radius-lg: 0.5rem;
  --radius-xl: 0.75rem;
  --radius-2xl: 1rem;
}

@layer base {
  body {
    @apply font-sans bg-light-gray text-main-black;
  }
}
